.wrapper {
  padding: 30px;
  display: flex;
  //justify-content: center;
  align-items: center;
  border: 1px solid grey;
  width: 100vw;
  height: 100vh;
  .clock{
    border: solid 1px aquamarine;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      font-size: 30px;
      color: green;
    }
  }
  .todo{
    border: solid 1px  #ff5835;
    width: 40%;
    min-height: 300px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .inputNew{
      margin-bottom: 30px;
      border: solid 1px  #3e4bff;
      width: 100%;
      height: 30px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      .todoCount{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: solid 1px  #60223b;
        span{

        }
      }
      input{
        margin-left: 20px;
        padding: 5px;
          border: 1px solid black
      }
      button{
        margin-left: 20px;
        width: 28px;
        height: 28px;
        border: 1px solid #3c38b1
      }
    }
    .todoItem{
      margin-bottom: 30px;
      border: solid 1px  #7a743e;
      width: 100%;
      height: 30px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      .todoItem_count{
        margin-right: 10px;
      }
      .todoItem_text{
        margin-right: 10px;
        font-size: 14px;
      }
      .todoItem_remove{
        cursor: pointer;
        font-size: 18px;
      }
    }
  }
}
