body {
  background-color: red !important;
}

.wrapper {
  padding: 30px;
  display: flex;
  //justify-content: center;
  align-items: center;
  border: 1px solid grey;
  width: 100vw;
  height: 100vh;
  .clock{
    border: aquamarine;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      font-size: 30px;
      color: green;
    }
  }
  .todo{
    border: #ff5835;
    width: 40%;
    min-height: 300px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .inputNew{
      margin-bottom: 30px;
      border: #3e4bff;
      width: 100%;
      height: 30px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      .todoCount{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: #60223b;
        span{

        }
      }
      input{
        margin-left: 20px;
        padding: 5px;
          border: 1px solid black
      }
      button{
        margin-left: 20px;
        width: 18px;
        height: 18px;
        border: 1px solid #3c38b1
      }
    }
    .todoItem{
      margin-bottom: 30px;
      border: #7a743e;
      width: 100%;
      height: 30px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      .todoItem_count{
        margin-right: 10px;
      }
      .todoItem_text{
        margin-right: 10px;
        font-size: 14px;
      }
      .todoItem_remove{
        font-size: 18px;
      }
    }
  }
}
